body {
  min-width: 900px;
  margin: 0;
  padding: 0;
  background-color: #ffffff;
  font-family: 'Roboto', 'Arial', sans-serif;
  font-size: 16px;
  line-height: 22px;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.main-header {
  padding-top: 25px;
  margin-bottom: 80px;
  background-color: #eeeeee;
}

.container {
  width: 880px;
  margin: 0 auto;
  padding: 0 10px;
}

.header-top {
  padding: 0;
  margin: 0;
}

.logo {
  width: 140px;
  float: left;
  margin-right: 170px;
}

.logo:hover {
  transform: rotate(8deg);
  transition: 0.5s;
}

.nav-menu {
  width: 560px;
  float: left;
  position: relative;
}

.nav-menu ul {
  display: inline-block;
  padding: 0;
  margin: 0;
  list-style: none;
}

.nav-menu li {
  display: inline-block;
  font-size: 14px;
  margin-right: 40px;
  vertical-align: top;
  padding: 30px 0;
}

.nav-menu li:last-child {
  margin-right: 0;
}

.nav-menu a {
  text-decoration: none;
  text-transform: uppercase;
  color: #000000;
  line-height: 30px;
}

.shoping-basket {
  max-width: 100px;
  float: right;
}

.shoping-basket::before {
  position: absolute;
  content: "";
  width: 15px;
  height: 15px;
  background-image: url(../img/icon-basket.png);
  opacity: 0.3;
  top: 37px;
}

.shoping-basket:hover::before {
  opacity: 1;
  transition: 0.5s;
}

.shoping-basket-link {
  display: inline-block;
  vertical-align: top;
  padding: 30px;
}

.slider {
  padding: 20px 0 50px 0;
}

.slider-left {
  width: 380px;
  float: left;
}

.slider-left h2 {
  margin: 15px 0 30px 0;
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
}

.slider-left p {
  padding: 0;
  margin: 0;
  padding-bottom: 30px;
}

.btn {
  background: #fb565a;
  padding: 14px 37px;
  font-size: 12px;
  font-weight: 300;
  line-height: 18px;
  color: #ffffff;
  font-family: 'Roboto', 'Arial', sans-serif;
  border-radius: 3px;
  text-decoration: none;
  text-transform: uppercase;
}

.btn-slider {
  padding: 14px 70px;
}

.slider-right {
  width: 400px;
  float: right;
}

.order {
  width: 880px;
  margin: 0 auto;
  padding-bottom: 80px;
}

.order-element {
  width: 240px;
  float: left;
  margin-right: 80px;
}

.order-element:last-child {
  margin-right: 0px;
}

.about-us {
  width: 880px;
  margin: 0 auto;
  padding: 80px 0 77px;
}

.about-us-left {
  width: 620px;
  float: left;
}

.about-us-right {
  width: 250px;
  float: right;
}

.partners-logo {
  width: 880px;
  text-align: center;
  margin-bottom: 80px;
}

.partners-logo-img {
  width: 225px;
  margin-right: 90px;
}

.partners-logo-img:last-child {
  margin-right: 0px;
}

.contacts {
  margin-bottom: 78px;
}

.contacts-left {
  width: 253px;
  padding: 88px 0 89px;
  float: left;
  margin-right: 425px;
}

.contacts-box {
  padding: 30px 20px 28px 20px;
}

.contacts-right {
  width: 160px;
  float: right;
  margin-right: 40px;
}

.main-footer {
  margin-bottom: 78px;
}

.social {
  width: 240px;
  float: left;
  margin-right: 80px;
}

.discont {
  width: 560px;
  float: right;
}
